# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.DS_Store

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter notebooks
*.ipynb
.ipynb_checkpoints

# Models (si son muy grandes, mejor usar volúmenes)
my_bertopic_modelv07/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Documentation
README.md

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# OS
.DS_Store
Thumbs.db